* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    
}

body {
    height: 100vh;
    width: 100%;
    background-color: #121214;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.notification {
    position: relative;
    display: inline-block;
    max-width: 300px;
    padding: 20px 15px;
    border-radius: 4px;
    background-color:  #141619;
    color: #F6F5F9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade 4s linear forwards;
}

.progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #529dbd, #3250bf);
    border-radius: 4px;
    animation: progress 3s .25s linear forwards;
}

@keyframes fade {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    90% {
        opacity: 1;
        transform: translateY(0px);
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        transform: translateY(-30px);
    }
}

@keyframes progress {
    to {
        width: calc(100% - 10px);
    }
}

.icon-login {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.icon-login img {
    min-width: 260px;
    width: 260px;
}

.icon-login p {
    color:  #529dbd;
    font-size: 36px;
    font-weight: 800;
    margin: 12px 0px 12px 0px;
}



.container-form {
    width: 400px;
    margin-top: 36px;
    margin-bottom: 48px;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    color: #e1e1e6;
}

.form input {
    color: #e1e1e6;
    width: 100%;
    height: 40px;
    background-color: #202024;
    border-radius: 4px;
    margin: 6px 0px 24px 0px;
    padding: 12px;
}

.form input:hover {
    background-color: #323236;
    transition: 0.8s;
}

#button-enviar {
    cursor: pointer;
    height: 44px;
    width: 100%;
    color:  #529dbd;
    font-size: medium;
    font-weight: 800;
}

#button-enviar:hover {
    transition: 0.8s;
    background-color: #262629;
}

.container-options {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.container-options a {
    text-decoration: none;
    color: #5c5c5c;
    padding: 4px;
}
